body {
  margin: 0px;
}
@media screen and (max-width: 670px) {
  .mainScreen {
    background-color: aqua;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    height: 100vh;
  }
}
@media screen and (max-height: 666px) {
  .mainScreen {
    background-color: aqua;
    width: auto;
    height: 666px;
    display: flex;
    justify-content: center;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    height: 666px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 671px) {
  .mainScreen {
    background-color: aqua;
    width: 670px;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .main {
    position: relative;
    display: flex;
    align-items: center;
    width: 670px;
    height: 100vh;
    margin: 0 auto;
  }
}
.update {
  width: 393px;
  height: 788px;
}
.mainView {
  position: relative;
  text-align: right;
  width: 100vw;
  height: 100vh;
}
#displayVersion {
  margin-right: 16px;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
}
.title {
  text-align: center;
  margin-top: calc(100vh / 4.4);
  font-size: 30px;
  margin-bottom: calc(100vh / 4.4);
  user-select: none;
}
.button {
  width: 91px;
  height: 51px;
  font-size: 20px;
  background: aqua;
  /* border-radius: 0; */
  /* border: none; */
}
/*メニューをページ下部に固定*/
#sp-fixed-menu {
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-size: 0;
  opacity: 0.9;
  z-index: 99;
}

/*メニューを横並びにする*/
#sp-fixed-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#sp-fixed-menu li {
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  border-right: 1px solid #fff;
}

/*左側メニューを緑色に*/
#sp-fixed-menu li:first-child {
  background: #38b435;
}
#sp-fixed-menu li:nth-child(2) {
  background: #d9ff00;
}
#sp-fixed-menu li:nth-child(3) {
  background: #00ff9d;
}
/*左側メニューをオレンジ色に*/
#sp-fixed-menu li:last-child {
  background: #f3a324;
}

/*ボタンを調整*/
#sp-fixed-menu li a {
  color: #fff;
  text-align: center;
  display: block;
  /* width: 100%; */
  padding: 20px;
}
