body{
    margin: 0px;
    text-align:center
}
.main{
    background-color: aqua;
    width: 393px;
    height: 788px;
    display: flex;
    justify-content: center;
}
.update{
    width: 393px;
    height: 788px;
}